$base-color-active: #17535E; // light-sea-green
$base-color: #17535E; // light-sea-green
$base-color-background: #D8ECEF;
$base-color-sub: #d0ccd0;
$text-color: #c6538c;
$spacing-vertical: 1rem;
$spacing-horizontal: 0.5rem;

